# .gitignore
# omit settings.py to conceal the security key
django_project/settings.py

# Django stuff:
*.log

local_settings.py
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*~

# Security: Secret Key
key.txt

# C extensions
*.so

