* {
    box-sizing: border-box;
    }
    .topnav {
    overflow: hidden;
    background-color: #333;
    margin-left: 0%;
    margin-right: 0px; 
    }
    .topnav a {
    float: left;
    color: #f2f2f2;
    display: block;
    padding: 16px 14px;
    text-decoration: none;
    }
    .topnav a:hover {
    background-color: grey;
    color: black;
    }
    .parallax {
    background-image: url("/www-images/css-code.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    body {
    background-color: rgb(255, 254, 251);
    text-align: center;
    margin: 0px;
    font-family: Microsoft YaHei;
    font-size: small;
    }
    body a {
    text-decoration: none;
    }
    body a:hover {
    color: #055813;
    font-weight: bold;
    }
    #showcase {
    color: #fff;
    padding-top: 125px;
    }
    #showcase button {
    font-size: 20px;
    width: 15%;
    padding: 15px 32px;
    color: yellow;
    background:transparent;
    border: 2px solid #4CAF50;
    margin: 4px 2px;
    border-radius: 12px;
    }
    #showcase button:hover {
    background-color: #4CAF50;
    color: #fff;
    }
    /* features */
    #features {
    margin:0;
    }
    #features .fas .far {
    color: green;
    }
    /* Media Queries for Small Screens */
    .column {
    /* float: left; */
    padding: 10px;
    display: inline;
    }
    /* for tablets, laptops and desktops */
    .col-4 {width:33.3%}
    .col-12 {width:100%}
    /* for phones and small devices */
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
            width: 100%;
        }
    }
    .row {
    padding: 0px;
    margin:0;
    }
    .row::after {
    content: "";
    display: table;
    clear: both;
    }
    #links {
    background-color: #333;
    color: #f1f1f1;
    }
    #links H3 {
    text-transform: uppercase;
    color: red;
    }
    #links .column {
    padding-left:90px;
    padding-right:90px;
    }
    #links ul  {
    padding: 0px;
    list-style: none;
    text-align: left;
    }
    #links li {
    padding-bottom: 5px;
    padding-top: 5px;
    }
    #links li a {
    color: white;
    }
    h1 {
    text-align: center;
    }
    footer {
        color: rgb(163, 163, 163);
        background-color: black;
        padding: 5px;
    }
    footer a {
        color: rgb(163, 163, 163);
        text-decoration: none;
    }
    footer a:hover {
        color: #f2f2f2;
    }
    footer p {
        padding-bottom: 3px;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    /*
    .caption {
        width: auto;
        padding: 35%;
    }
    */
    
    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 5px 12px 5px;
        position: relative;
    }
    
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: right;
        padding-top: 16px;
    }
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        right: 0;
        top: 0;
        width: 400px; /* Full width */
        height: 600px; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 80px;
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
    label {
        text-align: left;
    }
    
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
        
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }
    <style>
    * {
  box-sizing: border-box;
  }
  .head .container {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  border: none;
  }
  .head .container .row {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      display: inline;
      border: none;
  }
  #logo {
  align-content: left;
  color:#4CAF50;
  font-family: cursive;
  margin: 0;
  padding-left: 10px;
  padding-top: 0px;
  border: none;
  }
  #logo H1 {
  font-size: 8vmin;
  text-align: left;
  padding: 0;
  margin: 0;
  }
  #motto {
  align-content: right;
  color:rgb(26, 28, 179);
  padding: 0;
  padding-right: 10px;
  margin: 0;
  border: none;
  position: relative;
  bottom: 0;
  right: 0;
  }
  #motto H3 {
      font-size: 4vmin;
      text-align: right;
      padding: 0;
      margin: 0;
      }
  .topnav {
  overflow: hidden;
  background-color: #333;
  margin-left: 0%;
  margin-right: 0px;
  }
  #navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  }
  .topnav a {
  float: left;
  color: #f2f2f2;
  display: block;
  padding: 16px 14px;
  text-decoration: none;
  }
  .topnav a:hover {
  background-color: grey;
  color: black;
  }
  .parallax {
  background-image: url("http://static4.businessinsider.com/image/56b4b72d6e97c622048b51af-2190-1643/4653088356_e4b0de881c_o.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  body {
  background-color: rgb(255, 254, 251);
  text-align: center;
  margin: 0px;
  font-family: Microsoft YaHei;
  font-size: small;
  }
  body a {
  text-decoration: none;
  }
  body a:hover {
  color: #055813;
  font-weight: bold;
  }
  #showcase {
  color: #fff;
  padding-top: 125px; 
  }
  #showcase button {
  font-size: 3vmin;
  font-weight: bold;
  font-size: 20px;
  width: 15%;
  padding: 15px 32px;
  color: yellow;
  background:transparent;
  border: 2px solid #4CAF50;
  margin: 4px 2px;
  border-radius: 12px;
  /*    REDUNDANT   */
body {
      background-image: url('https://breathtakinglandscapes.files.wordpress.com/2013/02/breathtaking-landscapes-23-wallpapers-country-hills-2.jpg');
      color: white;
      font-family: "Microsoft YaHei UI Light",'Times New Roman', Times, serif;
 }
  #lock {
      font-size: 200%;
      position: fixed;
      top: 0;
      right: 0;
      margin-top: 5%;
      margin-right: 5%;
      padding: 0;
      color: white;
      text-decoration: none;
  }
  #lock:hover {
      color: green;
  }
  #greeting {
      border-bottom: 5px solid white;
      font-size: 5vw;
      font-weight: 600;
      width: 40%;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 5%;
      margin-left: 25%;
      margin-right: 25%; 
      text-align: center;
      background-color: rgba(74, 76, 78, 0.596);
      border-radius: 50px;
  }
  /* make the clock large */
  #clockbox {
      margin: 0;
      font-family: monospace;
      font-size: 12vw;
      text-align: center;
      width: 100%;
      margin-top: 5%;
      height: 100px;
  }
  #features .fa-3x {
  color: green;
  }
  #features h3 {
      color: green;
      }
  /* Media Queries for Small Screens */
  .column {
  float: left; 
  padding: 0;
  /* display: inline; */
  }
  /* for tablets, laptops and desktops */
  .col-4 {width:33.3%;}
  .col-6 {width: 50%;}
  .col-12 {width:100%;}
  /* for phones and small devices */
  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {

  #socialmedia {
      position: fixed;
      bottom: 0;
      left: 5px;
      font-size: 35px;
      color: white;
  }
  #socialmedia i {
      color: white;
  }
  #datebox {
      font-family: "Microsoft YaHei UI Light",'Times New Roman', Times, serif;
      font-size: 35px;
      font-weight: 600;
      width: 75%;
      text-align: right;
      position: fixed;
      bottom: 0;
      right: 10px;
  }
  /* adjustments for mobile screens */
  @media screen and (max-width: 650px) {
      #greeting {
          margin-top: 35%;
          margin-left: 15%;
          margin-right: 15%;
          width: 60%; 
          font-size: 8vw;
      }
      #clockbox {margin-top: 10%; font-weight: 900;}
      #socialmedia {
          font-size: 12vw;
          width: 100%;
          text-align: center;
          
      }
      #datebox {
          font-size: 5vw;
          top: 0;
          left: 5px;
      }
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
  }

  /* styling for login form */
  /* Extra styles for the cancel button */
  .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
  }

  /* Center the image and position the close button */
  .imgcontainer {
      text-align: center;
      margin: 24px 5px 12px 5px;
      position: relative;
  }

  img.avatar {
      width: 40%;
      border-radius: 50%;
  }

  .container {
      padding: 16px;
  }

  span.psw {
      float: right;
      padding-top: 16px;
  }

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      right: 0;
      top: 0;
      width: 400px; /* Full width */
      height: 600px; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 80px;
      color: black;
  }

  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      height: 85%;
  }
  .modal-content p {
      text-align: center;
      margin: 0;
      padding: 0;
  }
  /* The Close Button (x) */
  .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
  }
  label {
      text-align: left;
  }

  .close:hover,
  .close:focus {
      color: red;
      cursor: pointer;
  }

  /* Add Zoom Animation */
  .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
  }
      
  @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
      .cancelbtn {
      width: 100%;
      }
  }
/* footer {
    position: fixed;
    bottom: 0;
} */