{% extends "blog/base.html" %}

{% block header %}
    <TITLE>Roger Clarke Blog</TITLE>
    {% include "blog/includes/style-snippet.html" %}
{% endblock header%}

{% block content %}
    {% for post in posts %}
    <h1>{{ post.title }}</h1>
    <p>By: {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</p>
    <p>{{ post.content }}</p>
    {% endfor %}
    <h2>Want to post your own articles to this blog?</h2>
    <h4>Click <a href="{% url 'blog-about' %}">here</a> for detailed instructions.</h4>
{% endblock content %} 

{% block scripts %}
    {% include "blog/includes/scripts-snippet.html" %}
{% endblock scripts%}