{% extends "pages/base.html" %}
{% block content %}
	<h1>Register Your Account</h1>
	<div class="registration">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form.as_p }}
			</fieldset>
			<div class="form-group">
				<button class="btn" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="sign-in_section">
			<small class="text-muted">Already have an account? <a href="{% url 'login' %}">log in</a></small>
		</div>
	</div>
{% endblock content %}
