{% extends "pages/base.html" %}

{% block header %}
   <TITLE>Roger Clarke - About Me</TITLE>
{% endblock header %}

{% block content %}
<section id="baby">
  <h1>About Me</h1>
  <hr>
  <p>I am a hydraulic modeling engineer and have been practicing for the past 15 years. I have a Bachelor of Science degree in Chemistry
  from New York University, where I also obtained a minor in Mathematics and Computer Science. I also have a Bachelor of Engineering degree
  in Chemical Engineering from Stevens Institute of Technology, in Hoboken, NJ.
  I am currently employed at a large water utility where I develop computer models of water distributions systems and use these models 
  to design new distribution networks, size and select components and improve operational efficiency.
  My passion for programming stems from the age of eight (8), where I learned Applesoft BASIC on an Apple IIe computer.
  Fast forward to University, I took many courses where I learn pascal and C/C++ programming languages. I studied data structures 
  eg. linked lists and binary search trees.  I also studied algorithms (the big 'O' notation). 
  Since then I broaden my programming abilities to include other languages such as java, python, and HTML5 (ie. HTML, CSS & Javascript), along with a few frameworks.
  My projects include many websites, a bridge-like card game, a mental-abilities game, and extentions to the functionality of ArcGIS
  and Epanet.
  I also did some projects where i lerned to appreciate the marriage between hardware and sofware, and constructed electronic circuits and wrote the software for the Raspberry Pi (in python) and 
  the Arduino Uno (in C). 
  Currently I have no video tutorials on YouTube because I have a terrible voice and it maybe too distracting to the learner. However,
  I intend to write very detailed tutorials and howto's about troubleshooting very difficult problems, that required mastery of
  advance programming topics to solve.
  Currently, I code strictly for fun. This will change in the future because I love programming so much, such that it consumes most of my time.
  It may be best for me to focus on programming exclusively as a career.</p>
</section>
{% include "pages/includes/contactform.html" %}
{% include "pages/includes/registerform.html" %}
{% endblock content %}