<!DOCTYPE html>
<html>
<head>
    {% load static %} 
    <meta charset="utf-8">
    <meta name="description" content="Engineer extraordinaire: Chemical, Civil/Environmental, Software">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   
    <TITLE>{% block title %}{% end block %}</TITLE>

    <script src="{% static 'pages/scripts/scripts.js' %}"></script>
</head>

<body>    
    <div class="head">
        <div class="topnav" id="navbar">
                <a href="https://www.roger-clarke.com">Home</a>
                <a href="/pages/about.html">About</a>
                <a href="/blog/blog.html">Blog</a>
                <a href="/pages/projects.html">Projects</a>
                <a href="/pages/contact.html">Contact</a>
                <a href="#" style="float:right">Register</a>
                <a href="#" style="float:right" id="login" onclick="loginForm()">Log In</a>
        </div>
    </div> <!--End of header div-->

    
     
    <!--    the main section   -->   
    <section id="main_page">
            {% block content %}
            {% end block %}
    </section>
    
    <!-- Log In Form -->
    <div id="loginform" class="modal"> 
        <form class="modal-content animate" action="/action_page.php">
          <div class="imgcontainer">
            <span onclick="document.getElementById('loginform').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="{% static '/pages/img/img_avatar2.png' %}" alt="Avatar" class="avatar">
          </div>
      
          <div class="container">
            <label for="uname"><b>Username:</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
      
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
              
            <button type="submit">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('loginform').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>
      </div>
    </div> <!--End of Main div-->
    
    <!-- Page links section -->
    <section id="links">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                    <div class="column col-4">
                        <h3>Follow Me</h3>
                        <ul>
                                <li><a href="https://www.twitter.com/muddiman"><i class="fab fa-twitter fa-lg"> Twitter</i></a></li>
                                <li><a href="https://www.facebook.com/muddiman"><i class="fab fa-facebook-f fa-lg"> Facebook</i></a></li>
                                <li><a href="https://www.youtube.com/muddi100"><i class="fab fa-youtube fa-lg"> YouTube</i></a></li>
                                <li><a href="https://www.skype.com/muddi100"><i class="fab fa-skype fa-lg"> Skype</i></a></li>
                        </ul>
                    </div>
                    <div class="column col-4">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#"><i class="far fa-map fa-lg"> Address: </i>#9 Whatever Lane, Anytown.</a></li>
                            <li><a href="#"><i class="fas fa-phone-volume fa-lg"> Phone: </i> (555) 555-5555</a></li>
                            <li><a href="#"><i class="fas fa-at fa-lg"> Email: </i>me@roger-clarke.com</a></li>
                        </ul>
                    </div>
                    <div class="column col-4">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="https://www.roger-clarke.com"><i class="fas fa-home fa-lg"> Home</i></a></li>
                            <li><a href="blog/blog.html"><i class="fas fa-rss fa-lg"> Blog</i></a></li>
                            <li><a href="pages/projects.html"><i class="fas fa-project-diagram fa-lg"> Projects</i></a></li>
                            <li><a href="pages/contact.html"><i class="far fa-envelope fa-lg"> Contact</i></a></li>
                            <li><a href="pages/register.html"><i class="far fa-registered fa-lg"> Register</i></a></li>               
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--End of the links section-->
    
    <!-- footer section (legalese) -->
    <footer>
        <div class="container">
            <p>
                <a href="#">Privacy</a> | <a href="#">Terms and Conditions</a>
            </p>
        </div>
        <div>
            <p>Copyright &copy; 2018. All Rights Reserved. me@roger-clarke.com</p>
        </div>
    </footer>
    
    
</body>
</html>
