
{% extends "pages/base.html" %}

{% block header %}
        <TITLE>Roger Clarke Profile</TITLE>
{% endblock header %}

{% block content %}

<H1>ROGER CLARKE</H1>
    <section id="parallax">
        <div class="main">
            <div class="parallax" style="background-image: url('{% static "pages/img/css-code.jpg" %}')">
                <div class="container" id="showcase">
                    <div class="row">
                        <div class="col-12">
                            <div class="caption">
                               <!-- <p style="color:black">Go to my <a href="https://github.com/muddiman">github</a> to review the source code of my current projects</p>
                                <button onclick="#features">See More</button>
                            </div> -->
                        </div>
                    </div> 
                </div>
                <div class="container" id="showcase">
                    <div class="row">
                        <div class="col-12">
                            <div class="caption">
                                <H2>Welcome to my coding journey!</H2>
                                <button onclick="#features">See More</button>
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>
        </div>
    </section>
     
    <!--    the features section   -->   
    <section id="features">
        <div class="container"> 
            <div class="row center-xs center-sm center-md center-lg"> 
                <div class="col-12">
                    <h1>Hi, I am Roger.</h1>
                    <H2>Thank you, for taking the time to view my site.</H2> 
                    <H3>I would like to invite you to take a look at some of my projects.</H3>        
                </div>
                <!-- icon row -->
                <div class="row center-xs center-sm center-md center-lg">
                    <!-- Three column content thatstack on top each other on smaller screens -->
                    <div class="column col-4">
                        <i class="fas fa-code fa-3x"></i><br>
                        <h3>Source Code</h3>
                        <p>You can review the source code of my projects, at my <a href="https://github.com/muddiman">github repositories</a>.</p>
                    </div>
                    <div class="column col-4">
                        <i class="fas fa-rss fa-3x"></i><br>
                        <h3>Latest Posts</h3>
                        <p>The latest posts from my <a href="#"> blog</a>.</p>
                    </div>
                    <div class="column col-4">
                        <i class="far fa-envelope-open fa-3x"></i><br>
                        <h3>Contact Me</h3>
                        <p>Please feel free to contact me <a href="#">here</a> or email me at <a href="#">roger@roger-clarke.com</a>. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}   
